# Xcode
DerivedData/
*.xcworkspace
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata
*.xcuserstate

# Firebase config
GoogleService-Info.plist
GoogleService-Info*.plist


# CocoaPods
Pods/
Podfile.lock

# SwiftPM
.build/

# Misc
*.DS_Store
